{{$secure := false}}

// ServerInterface represents all server handlers.
type ServerInterface interface {
{{range .}}{{.SummaryAsComment }}
  // ({{.Method}} {{.Path}})
  {{.OperationId}}(ctx echo.Context) error
    {{range .SecurityDefinitions}}
      {{$secure = true}}
    {{end}}
{{end}}
{{- if $secure }}
// SecurityHandler returns the underlying Security Wrapper
SecureHandler(handler echo.HandlerFunc, ctx echo.Context) error
{{end}}
}
